# mod_rewrite starts here

RewriteEngine on

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and dont change anything and don't run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directoy with .html extensions

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extensions

RewriteRule ^(.*)$ $1.html [NC,L]

ErrorDocument 404 /404.html